body {
  position: relative;
}
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}

.affix ~ .container-fluid {
   position: relative;
   top: 50px;
}

#titletimer {
  padding-top:50px;
  padding-bottom: 200px;
  color: #fff;
  background-color: #1E88E5;
}

#title {
  font-size: 70px;
  margin-top: 60px;
}

#timer {
  font-size: 55px;
  margin-top: 30px;
}

#description {
  padding-top:50px;
  padding-bottom: 100px;
  color: #fff;
  background-color: #8f9800;
}

#headertext{
  font-size: 50px;
  margin-left: 2%;
  margin-top: 50px;
}

#descriptiontext{
  font-size: 20px;
  margin-left: 6%;
  margin-top: 20px;
  line-height: 1.7;
}

#contact {
  padding-top:50px;
  padding-bottom: 50px;
  color: #fff;
  background-color: #673ab7 ;
}
#contacttext{
  font-size: 30px;
  margin-left: 2%;
  padding-bottom: 10px;
}
/**
 * code for Errorspage.blade.php
 */
#errpage{
  background-color: #efefef;
}

#errpage #main{
  margin-top: 50px;
}

#errpage i{
  color: red;
  font-size: 150pt;
}

#errpage h1{
  font-size: 80pt;
}

#errpage p{
  font-size: 13pt;
}

#errpage .marginofbottom{
  margin-bottom: 15px;
}
